@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #C8D2C5;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

header {
    width:100%;
    height: 109px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F5F5F5;
    box-shadow: 0 1px 15px;
    z-index: 3;
    display: flex;
    flex-direction: row;
}


main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 1%;
    z-index: 1001;
}


.section-music{
background-color: #F0F0F0;
width: 100%;
height: 783px;
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.section-notes {
    background-color: #FFFBF5;
    width: 100%;
    height: 100%;

}

footer{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}