@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #C8D2C5;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

header {
    width:100%;
    height: 109px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: 0 1px 15px;
    z-index: fixed;
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 3.5%;
}

.links-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 200px;
    align-items: center;
    list-style: none;
}

main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 1%;
    z-index: 1001;
}

.section-hero {

}
.hero-home {
  
}

.hero-conejitos-bonitos {
    
}

.hero-welcome {
    position: relative;
    background: #20111113;
    backdrop-filter: blur(10px);
}
.hero-greeting {
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.hero-about-us {
}

.section-music{
background-color: #F0F0F0;
width: 100%;
height: 100%;

}

.section-notes {
    background-color: #FFFBF5;
    width: 100%;
    height: 100%;

}


footer{
    background-color: #F5F5F5;

}