.button-new-note{
    
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 188px;
    height:56px;
    align-items: flex-start;
    flex-shrink: 0;
    display: flex;
    padding: 14px var(--Spacing-Spacing-scale-05, 16px);
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--border-colors-foundations-border-inset, #D8DEE4);
    box-shadow: 3px 3px 10px 0px rgba(120, 132, 149, 0.08);
    border-color: #9595948f;
    border-width: 1.5px;
}

nav{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 3.5%;
}

.links-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 200px;
    align-items: center;
    list-style: none;
}
.section-hero {
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; 
}

.hero-greeting {
    font-size: 2.5em;
    margin-bottom: 10px;
}


