 @import url('https://fonts.googleapis.com/css2?family=Chicle&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

.button-new-note{
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 188px;
    height:56px;
    align-items: flex-start;
    flex-shrink: 0;
    display: flex;
    padding: 14px var(--Spacing-Spacing-scale-05, 16px);
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid var(--border-colors-foundations-border-inset, #D8DEE4);
    box-shadow: 3px 3px 10px 0px rgba(120, 132, 149, 0.08);
    border-color: #9595948f;
    border-width: 1.5px;
    
}

nav{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 3.5%;
}

.links-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 200px;
    align-items: center;
    list-style: none;
}

.section-hero {
    margin: 0;
    z-index: 2;
    overflow: hidden;
    
}

.hero-conejitos-bonitos {
    height: 100%;
    overflow: hidden; 
}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    text-align: center;
    max-width: 100%;
}

.hero-welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2; 
    
}

.container-blur {
    width: 1063.395px;
    height: 210px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: rgb(207, 202, 202);
    background: #04040416;
    backdrop-filter: blur(40px);
    border-radius: 60px;
    border: 0px solid #98F9FF;
    background-blend-mode: overlay, normal;
}

  .hero-greeting {
    font-size: 180px;
    margin-bottom: 10px;
    color: #E2C0AD;
    font-family: 'Chicle', serif;
    text-shadow: 2px 7px 2px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #680505;
    line-height: 127.8%;
    font-weight: 400;
}

.container-inf{
    background: rgba(25, 24, 24, 0.342);
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
}

.hero-about-us {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.46);
    color: #F2AC9D;
    font-size: 25px;
    font-weight: 650;
    line-height: 165.3%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #680505;
}

.container-music {
    width: 90%;
    height: 80%;
    max-width: 1299px;
    max-height: 515px;
    background-color: #fffbf5;
    border: solid 0.5px #f4f4f4;
    border-radius: 90px;
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:space-between ;
   margin: 0;
   
}

.album-cover {
    margin: 0;
   margin-left: 3%;
   
    
}

.imagen-album {
    max-width: 100%; 
    height: auto; 
}

.now-playing {
    color: #D08F7A;
    padding-bottom: 20%;
    text-shadow: none;
    font-size: 24.805px;
    left: 35%;
}

.song-info{
    margin-right: 28rem;
    margin-top: 3%;
    right: 50%;
    left: 35%;
    text-shadow:2px 3.5px 2px rgba(0, 0, 0, 0.25);
    padding-bottom: 5%;
    
}

h2.song-title {
    color: #B1807A;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #7D4734;
    font-size: 51px;
    margin: 0;
}

h3.song-artist {
    color: #E2C0AD;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #7D4734;
    font-size: 35.2px;
    margin: 5px;
}



.song-album {
    color: #ddbca9;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #7D4734;
    font-size: 35.2px;
    margin-top: 0px;
}

.music-icons {
margin: 0;

}



.footer-logo {
    margin-top: 3%;
}


.footer-name h1{
    margin: 0;
}



.social-media-icon {
    color: #A24C39;
    
}

